<div id="theme_show" data-role="page" data-fullscreen="false">
  <div data-role="header" data-backbtn="false">
    <h1>テーマ詳細</h1>
    <%= link_to 'ログアウト', logout_path, :class => "ui-btn-right" %>
  </div>

  <%= render "layouts/header_menu" %>

  <div data-role="content">
    <hr />
    <p id="notice"><%= notice %></p>

    <p>
    <b>Title:</b>
    <%= @theme.title %>
    </p>

    <p>
    <b>User:</b>
    <%= @theme.user_id %>
    </p>

    <%= link_to 'テーマの編集', edit_theme_path(@theme) %> |
    <%= link_to 'テーマ一覧', themes_path %> |
    <%= link_to 'モチベーショングラフ', :action => "graph" %>

    <hr />
    <h1>モチベーションの変化</h1>

    <table>
      <tr>
        <th>Theme</th>
        <th>User</th>
        <th>Energy</th>
        <th>CurrentTotal</th>
        <th>Comment</th>
        <th>Created</th>
        <th></th>
      </tr>

      <% @motivations.each do |motivation| %>
        <tr>
          <td><%= motivation.theme_id %></td>
          <td><%= motivation.user_id %></td>
          <td><%= motivation.energy %></td>
          <td><%= motivation.total %></td>
          <td><%= motivation.comment %></td>
          <td><%= motivation.created_at %></td>
          <td><%= link_to 'Destroy', motivation, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <%= render 'layouts/footer_menu' %>
</div>
