<div id="theme_show" data-role="page" data-fullscreen="false">
  <div data-role="header">
    <h1><%= @theme.title %></h1>
    <%= link_to 'ログアウト', logout_path, :class => "ui-btn-right" %>
  </div>
  <%= render "layouts/header_menu" %>
  <div class="ui-bar ui-bar-b">
    <h1><%= @theme.title %></h1>
  </div>
  <div data-role="content">
    <%= render "layouts/flash_message" %>
    <%= render "graph_smart_phone" %>
    <a href="#" data-icon="star" data-role="button" data-theme="d">応援する!</a>

    <ul data-role="listview" data-inset="true">
      <li data-role="list-divider">最近の活動
      <span>&nbsp;<b>スターター:</b>&nbsp;<%= @theme.user.name %>&nbsp;さん</span>
      </li>
      <% @motivations.each do |m| %>
        <li>
          <%= link_to m.comment %>
          <%= link_to '削除する', m, :confirm => 'Are you sure?', :method => :delete %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="ui-bar ui-bar-b">
    <div data-role="controlgroup" data-type="horizontal">
      <%= link_to '達成した', edit_theme_path(@theme), "data-role" => "button", "data-inline" => "true", "data-icon" => "star" %>
      <%= link_to '修正する', edit_theme_path(@theme), "data-role" => "button", "data-inline" => "true", "data-icon" => "edit" %>
      <%= link_to '諦める', @theme, :confirm => 'Are you sure?', :method => :delete, "data-role" => "button", "data-inline" => "true", "data-icon" => "delete" %>
    </div>
  </div>

  <%= render 'layouts/footer_menu' %>
</div>
