<div id="theme_show" data-role="page" data-fullscreen="false">
  <div data-role="header" data-backbtn="true">
    <h1><%= @theme.title %></h1>
    <%= link_to 'ログアウト', logout_path, :class => "ui-btn-right" %>
  </div>
  <%= render "layouts/header_menu" %>
  <div data-role="content">
    <%= render "layouts/flash_message" %>
    <ul data-role="listview" data-inset="false">
      <li data-role="list-divider"><%= @theme.title %>
        <p><b>スターター:</b>&nbsp;<%= @theme.user.name %>&nbsp;さん&nbsp;
        <%= link_to '編集', edit_theme_path(@theme) %>&nbsp;
        <%= link_to '一覧', themes_path %>
        <%= link_to '削除', @theme, :confirm => 'Are you sure?', :method => :delete %></p>
        <p id="notice"><%= notice %></p>
      </li>
      <li data-role="list-divider">モチベーション変化</li>
      <% @motivations.each do |m| %>
        <li>
        <h3><%= m.user.name %></h3>
        <span>
        <% if m.energy == -5 %>
          <%= image_tag "icons/worst.png" %>
        <% elsif m.energy == -2 %>
          <%= image_tag "icons/worse.png" %>
        <% elsif m.energy == 0 %>
          <%= image_tag "icons/normal.png" %>
        <% elsif m.energy == 2 %>
          <%= image_tag "icons/better.png" %>
        <% elsif m.energy == 5 %>
          <%= image_tag "icons/great.png" %>
        <% end %>
          <%= m.comment %></span>
        <p class="ui-li-aside"><%= m.created_at %></p>
        <%#= motivation.theme_id %>
        <%#= motivation.energy %>
        <%#= motivation.total %>
        <%#= link_to 'Destroy', motivation, :confirm => 'Are you sure?', :method => :delete %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= render 'layouts/footer_menu' %>
</div>
