<div id="home" data-role="page" data-fullscreen="false">
  <div data-role="header">
    <h1>ホーム</h1>
    <%= link_to 'ログアウト', logout_path, :class => "ui-btn-right" %>
  </div>
  <%= render "layouts/header_menu" %>
  <div data-role="content">
    <%= render "layouts/flash_message" %>
    <ul data-role="listview" data-inset="true">
      <li data-theme="a">マイゴール</li>
      <% @current_user_themes.each do |t| %>
        <li data-theme="c">
          <%= link_to t.title, t %>
          <%= link_to 'グラフ', {:controller => "themes", :action => "graph", :id => t.id}, "data-theme" => "c", "data-icon" => "info", :rel => "external" %>
        </li>
      <% end %>
      <li data-theme="c" data-icon="plus">
      <%= link_to '新しいゴールを作成する...', new_theme_path %>
      </li>
    </ul>
  </div>
  <%= render 'layouts/footer_menu' %>
</div>
