<%= form_for(@motivation) do |f| %>
  <% if @motivation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@motivation.errors.count, "error") %> prohibited this motivation from being saved:</h2>

      <ul>
      <% @motivation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%#= link_to '[新しいテーマを作成する]', new_theme_path %>
  <%= f.select(:theme_id, current_user.themes.find(:all).map{|u| [u.title, u.id]}) %>

  <div class="motivation_bar">
    <fieldset data-role="controlgroup" data-type="horizontal">
      <legend>今のモチベーションは？</legend>
      <%= f.radio_button :energy, "-5", :id => "radio1" %>
      <label for="radio1"></label>
      <%= f.radio_button :energy, "-2", :id => "radio2" %>
      <label for="radio2"></label>
      <%= f.radio_button :energy, "0", :id => "radio3", :checked => "checked" %>
      <label for="radio3"></label>
      <%= f.radio_button :energy, "2", :id => "radio4" %>
      <label for="radio4"></label>
      <%= f.radio_button :energy, "5", :id => "radio5" %>
      <label for="radio5"></label>
    </fieldset>
    <%= f.text_area :comment %>
    <%= f.submit '記録する' %>
  </div>

  <div class="actions">
  </div>
<% end %>

<!--
#TODO:スマートフォン用のモックアップサンプル
<p>今のやる気は、どんな感じですか？</p>
<div id="motivation_slider">
  <input type="range" name="slider" id="slider" value="0" min="-2" max="2" />
  <div class="ui-grid-a">
    <div class="ui-block-a"><label for="slider">低い</label></div>
    <div class="ui-block-b"><label class="ui-block-right" for="slider">高い</label></div>
  </div>
</div>
<div id="motivation_note">
  <textarea></textarea>
</div>
<a href="#complete" data-rel="dialog" data-role="button" data-transition="pop">記録する</a>
-->
