<%= form_for(@motivation) do |f| %>
  <% if @motivation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@motivation.errors.count, "error") %> prohibited this motivation from being saved:</h2>

      <ul>
      <% @motivation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :theme_id %><br />
    <%= f.select(:theme_id, current_user.themes.find(:all).map{|u| [u.title, u.id]}) %>
  </div>

  <div class="field">
    <%= f.label "今のモチベーションは？" %><br />
    <%= f.radio_button :energy, "-5" %>かなり低い
    <%= f.radio_button :energy, "-2" %>やや低い
    <%= f.radio_button :energy, "0", :checked => "checked" %>ふつう
    <%= f.radio_button :energy, "2" %>やや高い
    <%= f.radio_button :energy, "5" %>かなり高い

  </div>
  <div class="field">
    <%= f.label "コメント" %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit '記録する' %>
  </div>
<% end %>
