<%= form_for(@motivation) do |f| %>
  <% if @motivation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@motivation.errors.count, "error") %> prohibited this motivation from being saved:</h2>

      <ul>
      <% @motivation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :energy %><br />
    <%= f.text_field :energy %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
