<h1>Listing motivations</h1>

<table>
  <tr>
    <th>Theme</th>
    <th>User</th>
    <th>Energy</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @motivations.each do |motivation| %>
  <tr>
    <td><%= motivation.theme_id %></td>
    <td><%= motivation.user_id %></td>
    <td><%= motivation.energy %></td>
    <td><%= motivation.comment %></td>
    <td><%= link_to 'Show', motivation %></td>
    <td><%= link_to 'Edit', edit_motivation_path(motivation) %></td>
    <td><%= link_to 'Destroy', motivation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Motivation', new_motivation_path %>
