<p id="notice"><%= notice %></p>

<p>
  <b>Theme:</b>
  <%= @motivation.theme_id %>
</p>

<p>
  <b>User:</b>
  <%= @motivation.user_id %>
</p>

<p>
  <b>Energy:</b>
  <%= @motivation.energy %>
</p>

<p>
  <b>Comment:</b>
  <%= @motivation.comment %>
</p>


<%= link_to 'Edit', edit_motivation_path(@motivation) %> |
<%= link_to 'Back', motivations_path %>
